# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/toolbox-id.txt
**/toolbox-name.txt
.idea
target
vscode-dev-containers/graal-polygot/helloworld/app/bin/main/org/example/App.class
