[Unit]
Description=SSH Tunnel for rdp
Requires=network-online.target
After=network-online.target
Wants=network-online.target
StartLimitBurst=2
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
ExecStart=/usr/bin/ssh \
    -vv \
    -p 5693 \
    -NT \
    -o ServerAliveInterval=60 \
    -o ServerAliveCountMax=10 \
    -o ExitOnForwardFailure=yes \
    -i /home/msunkur/.ssh/id_rsa \
    -R 3381:localhost:3389 \
    user@xxx.mywire.org

[Install]
WantedBy=multi-user.target
