# service fails due to selinux denies permissions
# check denied permissions by
# sudo tail -f /var/log/audit/audit.log | grep denied

# export denied permissions and allow them
# sudo cat /var/log/audit/audit.log | grep denied > sshfixes.log
# audit2allow -i sshfixes.log -M sshfixes

[Unit]
Description=SSH Tunnel
Requires=network-online.target
After=network-online.target
Wants=network-online.target
StartLimitBurst=2
StartLimitIntervalSec=0

[Service]
User=osuser
Restart=always
RestartSec=1
ExecStart=/usr/bin/ssh \
    -v \
    -NT \
    -o StrictHostKeyChecking=no \
    -o ServerAliveInterval=60 \
    -o ServerAliveCountMax=10 \
    -o ExitOnForwardFailure=yes \
    -i /home/osuser/.ssh/ssh.key \
    -NR 3822:localhost:22 \
    -NR 3889:localhost:3389 \
    remoteuser@*.mywire.org

[Install]
WantedBy=multi-user.target
